@model IEnumerable<WebApplication1.Model.Student>

<!Doctype>
<html>
<head>
    <title>Students </title>
</head>
<body>
    <div class="container">
        <div class="">
            <h3>Students Data </h3>
        </div>
        <div class=" text-end">
            <a class="btn btn-primary" asp-action="Add" asp-controller="Student">Add</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Address
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Id</td>
                        <td>@student.Name</td>
                        <td>@student.Course</td>
                        <td>@student.Gender</td>
                        <td>
                            @if (student.Address != null && student.Address.Any())
                            {
                                @foreach (var address in student.Address)
                                {
                                    <div>
                                        <p>Village: @address.Village</p>
                                        <p>City: @address.City</p>
                                        <p>Postal Code: @address.PostalCode</p>
                                        <p>Country: @address.Country</p>
                                        <hr />
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No addresses available.</p>
                            }
                        </td>
                        <td>
                            <a class="btn btn-primary " asp-action="Edit" asp-controller="Student" asp-route-id="@student.Id">Edit</a>
                            <a class="btn btn-danger " asp-action="Delete" asp-controller="Student" asp-route-id="@student.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>